<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CiCDOne.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04DDCDF32C5AAE1B00E4C08E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04DDCE032C5AAE1E00E4C08E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04DDCE0D2C5AAE1E00E4C08E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
